[Service]
ExecStart=/usr/bin/nodejs server.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=lucos_speak
User=lucos
Group=lucos
WorkingDirectory=/web/lucos/lucos_speak

[Install]
WantedBy=multi-user.target
